# Security
SECRET_KEY=yoursecretkeyhere_change_me_in_production
ALGORITHM=HS256

# Database
# For local development:
# DB_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
# For Docker Compose:
DB_URL=postgresql+asyncpg://fastapidelivery_user:fastapidelivery@db:5432/fastapidelivery_db

# App Settings
ACCESS_TOKEN_EXPIRE_MINUTES=1440
OTP_EXPIRE_MINUTES=5
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
